<section class="human_quiz_container">

  <header class="human_quiz__header">
      <h1>VILÃO QUIZ</h1>
      <p>{{title}}</p>
  </header>
  <aside class="human_quiz_back">
    <a [routerLink]="['/']">&lt; &lt; Voltar</a>
  </aside>
  <main class="human_quiz__questions" *ngIf=!finished>
      <form >
          <div class="human_quiz____question">
              <h3>{{questionSelected.question}}</h3>
          </div>
          <div class="human_quiz____options">
            <button type="button" *ngFor="let option of questionSelected.options; let i = index"
            (click)="playerChoose(option.alias)"
            class="btn-option">
              {{option.name}}
            </button>

          </div>
      </form>
  </main>
  <footer class="human_quiz__footer" *ngIf=finished>
      <div class="human_quiz___result">
          <h2>Seu Resultado é </h2>
          <img style="width: 100%;" src="{{answerSelected}}"/>
      </div>
    <button (click)="reload()">Jogar Novamente</button>
  </footer>
</section>
