.human_quiz_container{

  background-color: rgb(212, 212, 212);
  min-height: 100dvh;

  .human_quiz__header{
    text-align: center;
    color: white;

    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/images/devback.jpg');
    h1{
      font-family: 'HeroItalic';
      font-size: 5rem;
      font-weight: 100;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #000;
    }
    p{
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000;
      font-size: 2rem;
    }
  }
  .human_quiz_back{
    text-align: center;
    margin-top: 20px;
    a{
      text-decoration: none;
      font-size: 1.3rem;
      color: black;

      &:hover{
        color: gray;
      }
    }
  }
  .human_quiz__questions{
    display: flex;
    justify-content: center;
    padding: 50px 0;

    form{
      color: black;
      background-color: white;
      border-radius: 10px;
      width: 50%;
      text-align: center;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.534);
      padding: 20px 5px;
      .human_quiz____question{
        h3{font-size: 2rem;}
      }
      .human_quiz____options{
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 20px;
        margin-top: 30px;
        button{
          padding: 20px;
          cursor: pointer;
          border-radius: 5px;
          box-shadow: 3px 3px 5px 2px #56D3FF;
          border-width: 1px;
          font-size: 1rem;
          &:hover{
            background-color: rgb(219, 214, 214);
          }
        }
        button:last-child{
          grid-column: 1 / span 2;

        }
      }
    }
  }

.human_quiz__footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;

  .human_quiz___result{
    background-color: white;
    width: 50%;
    text-align: center;
    padding: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.534);
    h2{
      font-size: 2rem;
    }
    p{
      margin-top: 20px;
      font-size: 2rem;
    }
  }
  button{
    margin-top: 30px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border: 1px solid rgb(0, 225, 255);
    padding: 20px 50px;
  }
}
}
@media (max-width:450px) {
  .human_quiz__questions{
    padding: 50px 20px !important;

    .human_quiz____options{
      grid-template-columns: 1fr !important;
    }
    form{
      width: 100% !important;
    }

  }
  .human_quiz__footer{
    padding: 20px ;
    .human_quiz___result{
      width: 100% !important;
    }
  }

}
