<section class="dev_quiz_container">

  <header class="dev_quiz__header">
      <h1>Dev QUIZ</h1>
      <p>Descubra qual seu nome de herói baseado em suas escolhas na área de T.I</p>
  </header>
  <aside class="dev_quiz_back">
    <a [routerLink]="['/']">&lt; &lt; Voltar</a>
  </aside>
  <main class="dev_quiz__questions">
      <form>
          <div class="dev_quiz____question">
              <h3>Qual capital do Brasil?</h3>
          </div>
          <div class="dev_quiz____options">
              <button type="button">
                Azul
              </button>
              <button>
                Azul
              </button>
              <button>
                Azul
              </button>
              <button>
                Azul
              </button>
          </div>
      </form>
  </main>
  <footer class="dev_quiz__footer">
      <div class="dev_quiz___result">
          <h2>Seu Resultado é </h2>
          <p>Doutor(a) Cafeína</p>
      </div>
  </footer>
</section>
